{% extends 'peixonauta/ok.html' %}
{% load static %}


    {% block styles %}
    <link rel="stylesheet" href="{% static 'peixonauta/css/ph.css' %}?v=1">
    {% endblock %}
    <title>Document</title>
       {% block content %}


<div id="alerta-global" class="alerta">
    ⚠️ Valor em alerta: verifique os níveis dos tanques!
</div>
<div class="B">TANQUE B:✅ Tudo certo! Níveis de pH normais.</div>
<div class="C">TANQUE C:✅ Tudo certo! Níveis de pH normais.</div>
<div class="D">TANQUE D:✅ Tudo certo! Níveis de pH normais.</div>
    <main>

        <section>
<div class="titulo-explicacao">
<h3 class="section-title">Dados em tempo real(com atraso de 10 segundos):</h3>
<h5>Posicionamento dos tanques:</h5>
        <img src="{% static 'peixonauta/img/tanques.jpg' %}">
         <h6>O pH é essencial para a saúde dos peixes. Fora da faixa ideal, pode causar estresse, dificultar a respiração e aumentar o risco de doenças. Manter o pH equilibrado garante um ambiente seguro e saudável.🫧🫧🫧</h6>
</div>
<div class="dados-container">
          <h3>Tanque A:</h3>

    <div class="cards">
      <div class="card alerta">
        <h2 id="ph_ultimo"></h2>
        <span>pH (atual)</span>
      </div>
      <div class="card alerta">
        <h2 id="ph_penultimo" ></h2>
        <span>5 min</span>
      </div>
      <div class="card alerta">
        <h2 id="ph_antepenultimo" ></h2>
        <span>10 min</span>
        
      </div>
    </div>

    <div class="dados-container">
          <h3>Tanque B:</h3>
    <div class="cards">
      <div class="card alerta">
        <h2>7</h2>
        <span>pH (atual)</span>
      </div>
      <div class="card alerta">
        <h2>7</h2>
        <span>5 min</span>
      </div>
      <div class="card bb">
        <h2>6</h2>
        <span>10 min</span>
      </div>
    </div>

    <div class="dados-container">
          <h3>Tanque C:</h3>
    <div class="cards">
      <div class="card alerta">
        <h2>7</h2>
        <span>pH (atual)</span>
      </div>
      <div class="card alerta">
        <h2>7</h2>
        <span>5 min</span>
      </div>
      <div class="card alerta">
        <h2>6</h2>
        <span>10 min</span>
      </div>
    </div>

    <div class="dados-container">
          <h3>Tanque D:</h3>
    <div class="cards">
      <div class="card alerta">
        <h2>7</h2>
        <span>pH (atual)</span>
      </div>
      <div class="card alerta">
        <h2>7</h2>
        <span>5 min</span>
      </div>
      <div class="card alerta">
        <h2>7</h2>
        <span>10 min</span>
      </div>
    </div>
    <script>
async function atualizarDados() {
    const resposta = await fetch("/api/dados/");
    const dados = await resposta.json();
        // pH
        document.getElementById("ph_ultimo").innerText = dados.ph.ultimo ?? "--";
        document.getElementById("ph_penultimo").innerText = dados.ph.penultimo ?? "--";
        document.getElementById("ph_antepenultimo").innerText = dados.ph.antepenultimo ?? "--";

        

        const alertaDiv = document.getElementById("alerta-global");
    
    if (8 < dados.ph.ultimo < 7 ) {
        alertaDiv.style.display = "block";
    alertaDiv.innerText = `TANQUE A:⚠️ Atenção: nível de ph (${dados.ph.ultimo}) está fora do normal!`;

    // remove verde, aplica piscar (amarelo)
    alertaDiv.classList.remove("verde");
    alertaDiv.classList.add("piscar");
    } else {
       alertaDiv.style.display = "block";
    alertaDiv.innerText = "TANQUE A:✅ Tudo certo! Níveis de pH normais.";

    // remove piscar e aplica verde
    alertaDiv.classList.remove("piscar");
    alertaDiv.classList.add("verde");
    }
    } 


// Atualiza a cada 5 segundos
setInterval(atualizarDados, 5000);

// Atualiza já no início
atualizarDados();

//banco de dados 

</script>
            
   
      <!--gráfico-->
      <div class="amon">
        <div class="chart">
                        <h1>Média mensal de cada mês:</h1>

            <canvas id="barchart" width="800" height="350"></canvas>
        
        </div>
     
      <!--gráfico-->
        </div>
        </section>
 <script src="{% static 'peixonauta/js/mobile-navbar.js' %}" defer></script>
     <script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.0/dist/chart.umd.min.js"></script>
     <script src="{% static 'peixonauta/js/chartamon1.js' %}"></script>
    </main>
    
      {% endblock %}
</body>

</html>
   


